
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <section class="col-lg-12">
        <!-- Custom tabs (Charts with tabs)-->
        <br />
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Lista Librave</h3>
            </div>

            <div class="card-body">
                <div id="lista">
                    <div class="table table-responsive" id="myTable">
                        <table class="myTable table text-center">
                            <thead>
                                <tr>


                                    <th style="text-align:center">
                                        ISBN
                                    </th>
                                    <th style="text-align:center">
                                        Titulli Librit
                                    </th>
                                    <th style="text-align:center">
                                        Autori
                                    </th>
                                    <th style="text-align:center">
                                        Sasia
                                    </th>
                                    <th style="text-align:center">

                                    </th>
                                    <th style="text-align:center">

                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {

                $(".myTable").dataTable().fnDestroy();
                $('.myTable').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ordering": false,
                    "pageLength": 10,
                    "deferRender": true,
                    "responsive": true,
                    "paging": true,
                    "searching": true,
                    "autoFill": true,
                      "ajax": {
                        "url": '@Url.Action("Kerko", "ListaLibrave")',
                        "type": "GET",
                        "datatype": "json"
                    },
                    "fnRowCallback": function (row, data, index) {

                    },
                    "columns": [
                        { "data": "ISBN", "autowidth": true },
                        { "data": "TittulliLibrit", "autowidth": true },
                        { "data": "Autori", "autowidth": true },
                        { "data": "Sasia", "autowidth": true },
                        {
                          data: null, "autowidth": true,
                             render: function (data, type, row, meta) {
                                 return "<a href='@Url.Action("Index", "Librat")?l=" + data.LibriID + "'><i class='fas fa-edit' aria-hidden='true'></i></a>"


                          }
                        },
                        {
                          data: null, "autowidth": true,
                             render: function (data, type, row, meta) {
                                 return "<a target='_blank'  href='@Url.Action("Raporti", "PagesatLista")?pa=" + data.LibriID + "'><i class='fas fa-file-invoice' aria-hidden='true'></i></a>"


                          }
                        }

                    ],
                     language: {
                  "sEmptyTable": "Nuk ka te dhena",
                        "sInfo": "Duke treguar _START_ deri _END_ prej _TOTAL_ rreshtave.",
                        "sInfoEmpty": "",
                        "sInfoFiltered": "",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Shiko _MENU_ rreshta",
                        "sLoadingRecords": "",
                        "sProcessing": "",
                        "sSearch": "Kerkoni: ",
                        "sZeroRecords": "",
                        "oPaginate": {
                            "sFirst": "I pari",
                            "sLast": "I fundit",
                            "sNext": "I radhes",
                            "sPrevious": "Paraprak"
                    },
                    "oAria": {
                        "sSortAscending": ": ",
                        "sSortDescending": ": "
                    }
                }
                });
    });



</script>


