@model eBibloteka.Models.Huazimi
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <section class="col-lg-12">
        <!-- Custom tabs (Charts with tabs)-->
        <br />


        <div class="card-body">
            <div class="row">
                <section class="col-lg-12">
                    <div class="container-fluid">
                        <!-- SELECT2 EXAMPLE -->
                        <div class="card card-default">


                            <div class="card-header">
                                <h3 class="card-title"> Regjistrimi Huazimit</h3>
                                <div class="card-tools">
                                </div>
                            </div>
                          

                                <!-- /.card-header -->
                                <div class="card-body">

                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Lirbri<text class="text-danger" style="font-size:1.3em;"> *</text></label>
                                            @Html.DropDownListFor(x => x.LibriID, (SelectList)ViewBag.Libri, "", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Lexuesi<text class="text-danger" style="font-size:1.3em;"> *</text></label>
                                            @Html.DropDownListFor(x => x.PerdoruesiIDLexuesi, (SelectList)ViewBag.Lexuesi, "", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Sasia<text class="text-danger" style="font-size:1.3em;"> </text></label>
                                            @Html.TextBoxFor(x => x.Sasia, new { @class = "form-control", @readonly = "true" })
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Shenime<text class="text-danger" style="font-size:1.3em;"> </text></label>
                                            @Html.TextBoxFor(x => x.Shenime, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Data Huazimit<text class="text-danger" style="font-size:1.3em;"> </text></label>
                                            @Html.TextBoxFor(model => model.DataHuazimit, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control datepicker", @Placeholder = "dd/MM/YYYY" })
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail3" class="col-form-label">Data kthimit<text class="text-danger" style="font-size:1.3em;"> </text></label>
                                            @Html.TextBoxFor(model => model.DataKthimit, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control datepicker", @Placeholder = "dd/MM/YYYY" })
                                        </div>

                                    </div>


                                    <div class="col-md-2">
                                        <input type="submit" class="btn btn-lightblue btn-flat mr-1" style=" width:100%;" value="Ruaj Huazimin"  onclick="Ruaj()"/>
                                    </div>


                                </div>
                        

                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </section>

</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ajax-unobtrusive.js"></script>
<link href="~/Content/prelodr.min.css" rel="stylesheet" />
<script src="~/Content/jquery.toast.js"></script>
<script>

    function Ruaj() {
        var LibriID = $('#LibriID').val();
        var PerdoruesiIDLexuesi = $('#PerdoruesiIDLexuesi').val();
        var PerdoruesiIDLexuesi = $('#PerdoruesiIDLexuesi').val();
        var Sasia = $('#Sasia').val();
        var Shenime = $('#Shenime').val();
        var DataHuazimit = $('#DataHuazimit').val();
        var DataKthimit = $('#DataKthimit').val();



            $.ajax({
                type: 'POST',

                    url: '@Url.Action("RegjistroHuazimin", "Huazimi")',
                data: {
                    LibriID: LibriID,
                    PerdoruesiIDLexuesi: PerdoruesiIDLexuesi,
                    Sasia: Sasia,
                    Shenime: Shenime,
                    DataHuazimit: DataHuazimit,
                    DataKthimit: DataKthimit

                },
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "@Url.Action("Index", "ListaHuazimit")";
                        }
                        else {
                            if (data.message=="") {
                                alert("Ju lutemi plotsoni fushat obligative!")
                            }
                            else {
                                alert("Sasia e kerkuar nuk mund te realizohet per arsye se nuk ka Stok!")
                            }
                            
                        }

                    }
                    ,
                    error: function (ex) {

                        alert("Ju lutemi plotsoni fushat obligative!")
                    }
                });
    }






</script>

